include README.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include docs *
recursive-include assets *
recursive-include gui *.py
recursive-include charter *.py
recursive-include scripts *
recursive-include bin *
